html{
  margin: 0;
}

body {
  margin: 0;
  background: url("./assets/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Montserrat;
  text-align: center;
  
}
.App {
  display: flex;
  flex-direction: column;

}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(1, 56, 128);
  justify-content: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 425px){
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    background-color: rgb(1, 56, 128);
    justify-content: space-between;
  }
}

a {
  margin: 10px;
  color:azure
}

h1 {
  font-size: 2.5em;
}

#logo {
  align-self: center;
  text-align: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

#sun-logo{
  background-color: rgb(249, 188, 34);
  margin: 0;
  padding: 0;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
}

#shine-logo {
  margin: 0;
  padding: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  color:rgb(249, 188, 34);
  border-color: black;
}

#city-search {
  margin: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
}

#city-search input {
    height: 30px;
    min-width: 250px;
    align-self: center;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    padding-right: 0;
    padding-bottom: 2px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.8);
  }
  

#city-search button {
  padding: 0;
  border-radius: 0 10px 10px 0 ;
  border-left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: black;
}

#search-icon {
  height: 30px;
  align-self: center;
}

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 75%;
  min-width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  margin: 8px;
}
.h-l {
  display: flex;
  padding: 10px;
}

.h-l p {
  padding: 2px 10px;
  margin: 10px;
}

.details {
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 75%;
  min-width: 350px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

.details p {
  padding: 2px 10px;
  margin: 10px;
}

h3 {
  font-size: 1em;
}

#forcast {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 75%;
  min-width: 350px;
  padding: 10px;
  align-self: center;
  }

#daily-forcast {
  display: grid;
  grid-template-areas: "day h-l";
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  border-bottom: solid rgba(138, 137, 137, 0.5);
}

.forcast-day {
  grid-area: day;
}

.forcast-h-l {
  grid-area: h-l;
  display: flex;
  justify-self: end;
}

.forcast-h-l p {
  margin-right: 15px;
}


.main img {
  width: 1.5em;
}

#heart {
 background-color: rgba(255, 255, 255, 0);
 border: none;
 align-self: end;
 
}

.login {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.login form {
  display: flex;
  flex-direction: column;
  
}

.login button {
  align-self: center;
  margin: 5px;
}
.login button:hover {
  background-color: rgb(249, 188, 34);
}

.login input {
  margin: 5px;
}

.favorites-bar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorites-bar li{
margin-left: 10px
}

