body {
  background: url("./assets/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Montserrat;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: column;
}

nav a {
  align-self: flex-end;
  padding: 10px 10px 0 0;
}

#logo {
  align-self: center;
  display: flex;
  
}

#sun-logo{
  background-color: rgb(249, 188, 34);
  padding: 5px 10px 5px 10px;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
}

#shine-logo {
  padding: 5px 10px 5px 10px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
    
}

#city-search {
  margin: 20px;
  align-self: center;
  min-width: 300px;
}

#current-weather {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 75%;
  min-width: 500px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;  
}

.details p {
  padding: 5px;
}